body{
    margin:0px;
    padding: 0px;

}

:root{
    --background-color: #2D2D2D;
    --headfoot-color: #0C70F2;
    --primary-text-color: white;
    --secondary-text-color: black;
    --toggle-bg: grey;
    --toggle-fg: rgb(105, 102, 102);
}

[bright-theme="bright"] {
    --background-color: #f3f3f3;
    --headfoot-color: #acdf95;
    --primary-text-color: #101f46;
    --secondary-text-color: white;
    --toggle-bg: #acdf95;
    --toggle-fg: #101f46;
}